.line{
    border-bottom: 2px solid grey;
}

.pb-160{
    padding-bottom: 160px;
}

@mixin displayFlex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

@mixin riga {
    width: 100%;
    padding: 40px 20px;
    display: flex;
}

@mixin displayFlexColumn {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin marginleftsmall {
    margin-left: 10px;
}

@mixin marginrightsmall {
    margin-right: 40px;
}

@mixin buttonWhite {
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    font-size: 1.4rem;
    color: #304dae;
    background-color: #ffffff;
    border: 1px solid #304dae;
    border-radius: 5px;
}

@mixin buttonHover {
    cursor: pointer;
}

@mixin sezioneProperty {
    width: 50%;
    padding: 20px;
}

@mixin buttonBlue {
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #304dae;
    border: 1px solid #304dae;
    border-radius: 5px;
}

@mixin sectionGeneral {
    width: 100%;
    display: flex;
    padding: 40px;
}