header{
    text-align: center;
    height: 88px;
    background-color: #7FFFD4; //da cambiare con #ffffff
    font-size: 1.4rem;
    @include displayFlex;
    border-bottom: 2px solid #C0C0C0;
    color: #4e3d1e;

    .text{
        // color: #FF6600;
        @include displayFlex;
        font-size: 2rem;
        
        h3{
            @include marginleftsmall;
        }
    }

    .link{
        // background-color: #FBCEB1;
        display: flex;
        align-items: center;

        ul{
            list-style: none;
            display: flex;

            li{
                margin: 10px;

                a{
                    text-decoration: none;
                    color: #293133;

                    &:hover{
                        color: #7FFF00;
                        border-bottom: 2px dotted #F400A1;
                        cursor: pointer;
                    }
                }
            }
        }

        button{
            @include buttonWhite;
            margin-left: 10px;
        }
    }
}