main{
    min-height: calc(100vh - 380px);
    @include displayFlexColumn;
    justify-content: center;
    background-color: red; //modificare

    .sezione1{
        @include sectionGeneral;
        background-color: violet; //modificare

        .sezionePropieta{
            @include sezioneProperty;

            .text{
                text-align: right;
                font-size: 1.4rem;
                line-height: 4rem;

                h1{
                    font-size: 2.6rem;
                }

                button{
                    @include buttonBlue;

                    &:hover{
                        @include buttonHover;
                    }
                }
            }
        }

        img{
            width: 80%;
        }
    }

    .sezione2{
        @include sectionGeneral;
        @include displayFlexColumn;
        justify-content: space-around;
        background-color: greenyellow; //da cambiare
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: center;

        .row{
            @include riga;
            justify-content: center;
        }

        img{
            width: 22%;
        }

        .listaImmagini{
            display: flex;
            justify-content: space-around;
            list-style: none;

            li{
                @include marginrightsmall;
            }

            img{
                width: 40%;
                height: 150px;
            }
        }

    }

    .sezione3{
        @include sectionGeneral;
        flex-direction: column;
        background-color: goldenrod;

        .row{
            @include riga;

            .cl{
                @include flexColumnStart;
                @include sezioneProperty;

                img{
                    width: 100%;
                }

                h3{
                    width: 80%;
                    font-size: 2rem;
                    font-weight: 0.5rem;
                    color: #58402c;
                }

                p{
                    width: 80%;
                    font-size: 1.6rem;
                    font-weight: 0.5rem;
                    color: #58402c;
                }

                a{
                    text-decoration: none;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            .cl.sez3Text{

                img{
                    width: 50%;
                    margin-top: 20px;
                    margin-left: 25px;
                }
            }

            .cl.sez3TextEnd{
                align-items: flex-end;
            }
        }
    }

    .sezione4{
        @include displayFlexColumn;
        background-color: green;
        color: #58402c;
        padding-bottom: 50px;

        h2{
            font-size: 2rem;
            line-height: 2rem;
        }

        .sms{
            border: 1px solid lightgray;
            border-radius: 5px;
            width: 60%;
            padding: 10px;

            p{
                font-size: 1.4rem;
                line-height: 1.8rem;
            }

            .autori{
                display: flex;
                align-items: center;

                img{
                    width: 10%;
                    margin-right: 10px;
                }
            }
        }

        button{
            @include buttonBlue;

            &:hover{
                @include buttonHover;
            }
        }

        a{
            text-decoration: none;
            color: #58402c;
            font-size: 1.4rem;

            &:hover{
                cursor: pointer;
            }
        }
    }
    
}