main{
    min-height: calc(100vh - 380px);
    @include displayFlexColumn;
    justify-content: center;
    background-color: red; //modificare

    .sezione1{
        @include sectionGeneral;
        background-color: violet; //modificare

        .sezionePropieta{
            @include sezioneProperty;

            .text{
                text-align: right;
                font-size: 1.4rem;
                line-height: 4rem;

                h1{
                    font-size: 2.6rem;
                }

                button{
                    @include buttonBlue;

                    &:hover{
                        @include buttonHover;
                    }
                }
            }
        }

        img{
            width: 80%;
        }
    }

    .sezione2{
        @include sectionGeneral;
        @include displayFlexColumn;
        justify-content: space-around;
        background-color: greenyellow; //da cambiare
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: center;

        .row{
            @include riga;
            justify-content: center;
        }

        img{
            width: 22%;
        }

        .listaImmagini{
            display: flex;
            justify-content: space-around;
            list-style: none;

            li{
                @include marginrightsmall;
            }

            img{
                width: 40%;
                height: 150px;
            }
        }

    }

    .sezione3{
        @include sectionGeneral;
        background-color: goldenrod;

        .row{
            @include riga;

            .cl{
                @include flexColumnStart;
                @include sezioneProperty;

                img{
                    width: 100%;
                }

                p{
                    width: 40%;
                }
            }

            .cl.sez3Text{

                img{
                    width: 50%;
                    margin-top: 20px;
                    margin-left: 25px;
                }
            }
        }
    }
}